*
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: 'Muli', sans-serif;
  color: black;
  background: white;
  -webkit-font-smoothing: antialiased;
  padding: 25px;
}

h1
{
  text-align: center;
  margin-bottom: 20px;
  
  .large
  {
    display: block;
    font-size: 5.65em;
    font-weight: 900;
    line-height: 160px;
  }
  .small
  {
    display: block;
    font-weight: 600;
    font-size: 18px;
  }
}

p
{
  margin-bottom: 1.5em;
  line-height: 1.5;
}

.body-text
{
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
  
  p
  {
    text-align: center;
  }
}

.form--signup
{
  width: 100%;
  max-width: 510px;
  margin: 0 auto;
}


label
{
  font-weight: 800;
  display: block;
  margin-bottom: 20px;
  
  & > div
  {
    padding-bottom: 6px;
  }
}
input[type=text],
input[type=email]
{
  background: white;
  border: 1px solid black;
  color: black;
  font-family: inherit;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  padding: 0 8px;
  line-height: 39px;
  height: 41px;
}

input[type=submit],
button
{
  display: block;
  background: black;
  appearance: none;
  -webkit-appearance: none;
  color: white;
  font-family: inherit;
  font-size: 1em;
  font-weight: 800;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  border: 0;
  cursor: pointer;
}